@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

.s
	&-expectation, &-review, &-partners
		padding: 8% 0
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.header_flex
		h1
			font-size: 40px
	.header_block
		p
			font-size: 14px
	.carousel_membership__item
		flex-direction: column

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.top_line
		padding-top: 30px
	.phone
		display: none
	.logo
		font-size: 20px
	.header_block
		.h1
			font-size: 36px
		&__btn
			padding: 10px 25px
	.header_social
		right: 5px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.top_line
		width: 100%
	.fa-gg-circle
		left: 20px
	.mm-listview
		> li
			> a
				transition: color .1s ease
				&:hover
					.fa-gg-circle
						left: 22px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

