@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $third
	overflow-x: hidden
	&.ishome
		.site_header
			min-height: 700px
			height: 100vh
			background-color: $dark
			background-position: center
			background-size: cover
			position: relative
			.top_line
				// display: flex
				// justify-content: space-between
				// align-items: center
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1
				a
					text-decoration: none

.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 1.4
	text-transform: uppercase
	
	
				

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff


section
	&.inverse
		color: $white
		background-color: $dark
		.h2
			font-size: 30px
			font-weight: 800
			color: $accent
			span
				color: #ffffff


/* Header */
.logo
	margin-left: 45px
	&:hover
		.Jo
			color: $white
			font-size: 32px
		.fit
			color: $accent
			font-size: 32px
	.Jo
		font-size: 30px
		color: $accent
		font-family: $indie-font
		transition: all .25s ease
		font-style: italic
	.fit
		font-size: 30px
		color: $white
		font-family: $indie-font
		transition: all .25s ease
		font-style: italic

.phone
	font-family: $indie-font, sans-serif
	position: absolute
	top: 44px
	right: 95px
	font-size: 22px
	white-space: nowrap
	color: $white
	.fa
		color: $accent

.hamburger
	position: absolute
	right: 15px
	top: 35px
	color: $white
	.hamburger-box
		width: 30px

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	border-radius: 0
	width: 35px
	height: 3px
	background-color: #fff

.Jo_m
	font-size: 27px
	color: $accent
	font-family: $indie-font
	transition: all .25s ease
.fit_m
	font-size: 27px
	color: $white
	font-family: $indie-font
	transition: all .25s ease

.mm-panel
	padding: 5px

.mm-navbar
	height: auto
	position: relative
	border: none
	&__title
		font-style: italic
		margin: 20px 0 

html.mm-opened
	overflow-y: scroll
// .mm-listitem:after
// 	border: none 


.mm-listview>li:not(.mm-divider):after
	display: none
.mm-panels > .mm-panel.mm-hasnavbar 
	right: -18px
.mm-menu_theme-black .mm-listitem_selected>a:not(.mm-btn_next), .mm-menu_theme-black .mm-listitem_selected>span
	background-color: transparent
	color: $accent
.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before 
	height: 0
.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview
	margin: 0


.mm-listview 
	> li
		> a
			transition: color .25s ease
			font-size: 18px
			padding: 
				left: 14%
				right: 14%
				top: 8px
			&:hover
				box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
				color: $accent
				.fa-gg-circle
					left: 30px

		&.active
			&>a
				color: $accent	

.fa-gg-circle
	font-size: 11px
	position: absolute
	left: 35px
	top: 12px
	text-decoration: none
	transition: all .25s ease

.header_flex 
	display: flex
	position: relative
	height: 100%
	top: 0
.flex_center
	margin: auto

.header_block
	color: $white
	text-align: center
	position: relative
	strong
		background-color: $white
		color: $accent
		font-family: $indie-font, sans-serif
		font-size: 18px
		.fa-crown
			font-size: 16px
			padding: 1px 4px
			color: darken($accent, 15%)
	p
		margin-top: 40px
		padding: 0 40px
		font-size: 18px
		color: #ffffff
	&__title
		p
			text-align: center
			font-size: 20px
			text-transform: uppercase
			display: flex
			align-items: center
			justify-content: center
			white-space: nowrap
			margin: 0
			margin-bottom: -10px
			.fit_title__bg
				padding: 2px 10px
			&::before, &::after
				content: ''
				height: 1px
				width: 50px
				margin: 5px
				position: relative
				background-color: $white
				display: inline-block		
	&__btn
		margin-top: 20px
			
.h1
	font-size: 50px
	font-family: $second-font, sans-serif
	font-weight: 300
	line-height: 1.6
	

.title_bg
	background-color: $accent 
	padding: 3px 5px
.fit_title__bg
	background-color: $white
	color: $accent


.button
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $accent
	padding: 13px 43px
	font-size: 13px
	text-transform: uppercase
	font-weight: 400
	letter-spacing: 3px
	border-radius: 1px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	&::after
		transition: background-color .2s ease
		position: absolute
		content: ''
		height: 4px
		bottom: 0
		width: 100%
		background-color: darken($accent, 50%)
		opacity: .18
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
		left: 0
	&:focus, &:hover
		text-decoration: none
		color: $accent
	&:hover
		background-color: lighten($accent, 95%)
		color: $accent
		&::after
			opacity: .22
	&:active
		background-color: darken($accent, 5%)
		&::after
			opacity: .32

.header_social
	position: absolute
	display: flex
	align-items: center
	padding: 0 10px
	right: 15px
	top: 0%
	height: 100%
	// border-left: rgba($white, .1) 1px solid     ????????
	.soc
		margin: auto
		ul
			list-style: none
			li
				font-size: 26px
				transition: transform .25s ease
				line-height: 1.6 
				&:hover
					transform: scale(1.2)
					a
						color: $white
				a
					color: $accent

.header_bottom
	color: $white
	font-size: 14px
	text-align: center
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	border-top: rgba($white, .2) 1px solid
	padding: 10px
	background-color: rgba($dark, .8)
	font-family: $second-font, sans-serif
	.fas, .fa
		color: rgba($white, .4)
/* Header */

/* Content */

$colors: $ocean, $sky, $another

@for $i from 1 through length($colors)
	.carousel_membership  .owl-item:nth-child(#{length($colors)}n + #{$i})
		background-color: nth($colors, $i)

.membership
	color: $white

.jo_carousel
	font-size: 18px
	color: $accent
	font-family: $indie-font
	transition: all .25s ease
	font-style: italic
.fit_carousel
	font-size: 18px
	color: $white
	font-family: $indie-font
	transition: all .25s ease
	font-style: italic

.carousel_membership
	&__item
		font-size: 18px
		font-weight: 300
		position: relative
		display: flex
		flex-direction: column-reverse
		position: relative
	.owl-item
		&:nth-child(2n+2)
			.carousel_membership__item
				flex-direction: column
.carousel_membership__item-img
	background-size: cover
	background-position: center
	transition: all .2s ease
	cursor: pointer
.carousel_membership__item-content
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	padding: 60px 10px
	.h3
		text-align: center
		margin: 15px
.carousel_membership
	&__logo
		span
			font-size: 22px
	&__list
		margin: 0
		padding: 0
		list-style-type: none
		margin-bottom: 25px
		li
			padding: 5px
			border-bottom: 1px solid rgba(#000000, .12)
			&:last-child
				border-bottom: none
	.owl-nav
		position: absolute
		top: 0
		width: 100%
		.owl-prev
			position: absolute
			left: 0
			i
				color: $white
				font-size: 35px
				background-color: $dark
				height: 64px
				width: 64px
				line-height: 64px
		.owl-next
			position: absolute
			right: 0
			i
				color: $white
				font-size: 35px
				background-color: $dark
				height: 64px
				width: 64px
				line-height: 64px

.owl-dots
	width: 100%
	text-align: center
	margin-top: 60px
	.owl-dot
		width: 8px
		height: 8px
		background-color: #ffffff !important
		border-radius: 50%
		display: inline-block
		margin: 5px	
		z-index: 5
		transition: background-color .45s ease
		outline: none
		&.active
			background-color: $accent !important
.s
	&-expectation, &-review, &-partners, &-review
		padding: 5% 0
	&-expectation
		position: relative
		background-size: cover
		background-position: center
		&_desc
			.h2
				margin-top: 20px
				margin-bottom: 30px
				text-align: center
			p
				font-size: 16px
	&-call
		background-size: cover
		background-repeat: no-repeat
		background-color: #ffffff
.section-overlay
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $dark
		opacity: 0.75
		

/* Content */

// Fotorama
.fotorama
	background-color: rgba($dark, .5)
	border-radius: 2px
	&__nav
		&-wrap
			position: absolute
			bottom: 15px
			padding: 0px 30px
			width: 100%
	// &__nav:after, &_stage:after,
	// &__nav:before, &_stage:before
	// 	display: none
	&__thumb
		border: 2px solid #ffffff
		border-radius: 1px
		transition: border-color .5s ease
		&-border
			border-color: darken($accent, 5%)
			border-radius: 1px
	
// Fotorama

// Callback
.s-call
	z-index: 10
	position: relative
.s-call-overlay
	&:before
		z-index: 0
		content: ''
		background-color: rgba(#333333, .5)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		
.callback
	position: relative
	padding: 10%
	margin: 25px
	margin-top: 40px
	margin-bottom: 40px
	border-radius: 5px
	background-color: rgba($white, .7)
	.formhead
		text-align: center
		font-size: 32px
		font-weight: 700
		background-color: $accent
		color: $white
		font-family: $default-font
	p
		display: inline-block
		font-family: $indie-font
		text-align: center
		color: #333333

	label 
		margin-left: 5px
		color: #333333
		font-weight: 100
	input
		width: 100%
		padding: 5px
		margin-bottom: 5px
		outline: none
		border: 2px solid transparent	
		border-radius: 2px
		transition: border-color .25s ease
		&:focus
			border: 2px solid $accent
.selectize-control
	margin-top: 20px
	margin-bottom: 10px
	.single 
		font-weight: 100
		font-size: 18px
.selectize-control.single .selectize-input
	font-weight: 100
.selectize-dropdown
	&-content
		.option
			padding: 5px 25px
			cursor: pointer
			&.active
				background-color: lighten($accent, 25%)
.success
	display: none
	position: absolute
	top: 0
	left: 0
	bottom: 0
	right: 0
	text-transform: uppercase
	font-family: $indie-font
	font-weight: 800
	// display: flex
	justify-content: center
	align-items: center
	text-align: center
	z-index: 10
	span
		font-size: 34px
		color: $accent
	& ~ *
		transition: all .5s ease
	&.active
		& ~ *
			opacity: 5
			filter: blur(10px)
// Callback
// Review
.s-review
	background-position: center
	background-size: cover 
	background-repeat: no-repeat
	z-index: 10
	text-align: center
	position: relative
	.h2
		background-color: $accent
		margin-bottom: 14px
		padding: 5px 10px
		color: $white
		display: inline-block
	&-overlay
		&:before
			position: absolute
			content: ''
			z-index: 0
			background-color: rgba(#333333, .7)
			top: 0
			left: 0
			width: 100%
			height: 100%
	.reviews			
.review
	margin-top: 10px
	color: $white
	&_header
		font-size: 32px
		font-family: $indie-font
		margin-bottom: 10px
	&_date
		font-size: 18px
		color: rgba($another, .6)
		margin-bottom: 10px
	&_stars
		color: $accent
		margin-bottom: 10px
		i
			padding: 5px
			font-size: 20px
	&_text
		font-size: 18px
		font-weight: default-font
		
.quotes
	position: absolute
	width: 100%
	&::before, &::after
		content: ',,'
		position: absolute
		color: $accent
		font-size: 56px
		font-weight: bold
		line-height: 0
	&::before
		transform: rotate(180deg)
		top: 110px
		left: -25px
	&::after
		transform: rotate(0deg)
		top: 70px
		right: 0px
		
// Review





	
@import "media" 
